{% extends 'base.html' %}

{% block title %}上传图片{% endblock %}

{% block head %}
    <script src="{{ url_for('static',filename='js/make_img.js') }}"></script>
{% endblock %}

{% block main %}
    <div class="make">
        <div class="form-groups1">
            {% if imgs %}
                <img src="{{ url_for('static',filename='images/0.jpg') }}"  class="make">
            {% else %}
                <img src="{{ imgs }}" class=make">
            {% endif %}
        </div>
        <div class="form-groups">
            <p style="float: left;">
                图片上传前预览：<input type="file" id="FileImg" onchange="UploadImg(this)" accept="image/*"/>
                <input type="button" value="隐藏图片" onclick="document.getElementById('Img').style.display = 'none';"/>
                <input type="button" value="显示图片" onclick="document.getElementById('Img').style.display = 'block';"/>
                <a href="javascript:void()" download="heword.jpg" id="xmTanDownload" float="left">点此下载</a>
            </p>
            <img id="Img" width="320px" height="250px" style="float: right;">
            <div class="discern" style="margin-top:5px">
                <button class="btn btn-primary btn-block">识别</button>
            </div>
        </div>
    </div>
    <script type="text/javascript">

        var I = document.getElementById('Img');
        I.style.display = 'none';

        function UploadImg(obj) {
                var file = obj.files[0];

                console.log(obj);console.log(file);
                console.log("file.size = " + file.size);  //file.size 单位为byte

                var reader = new FileReader();

                //读取文件过程方法
                reader.onloadstart = function (e) {
                    console.log("开始读取....");
                };
                reader.onprogress = function (e) {
                    console.log("正在读取中....");
                };
                reader.onabort = function (e) {
                    console.log("中断读取....");
                };
                reader.onerror = function (e) {
                    console.log("读取异常....");
                };
                reader.onload = function (e) {
                    console.log("成功读取....");
                    var img = document.getElementById("Img");
                    img.src = e.target.result;
                    document.getElementById("xmTanDownload").setAttribute("href", e.target.result); //给a标签设置href
                    //或者 img.src = this.result;  //e.target == this
                };

                reader.readAsDataURL(file)
            }



    </script>
{% endblock %}